body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

h1 {
  text-align: center;
}

#schoolSearch {
  text-align: center;
}

#tabs {
  text-align: center;
}

footer {
  text-align: left;
}

#map {
  height: 600px;
  width: 100%;
}